<div class="container">

	<div class="starter-template">
		<h1>{{get_name}}</h1>
		<p class="lead">An under construction report server for the speedtests being run.</p>
	</div>

</div><!-- /.container -->
